

/* #online
{
  height: 13px;
  width: 13px;
  background-color: #7CEB1F;
  border-radius: 50%;
  display: inline-block;
}


#offline
{
  height: 13px;
  width: 13px;
  background-color: #EC4910;
  border-radius: 50%;
  display: inline-block;

}



table{
  column-width: 30px;
  border: none;

}



th,td{
     column-width: 30px;
    text-align: center;
    vertical-align: middle;
}
.user{
  text-align: center;
}


.usernames{
  font-size: 17px;
  font-family: 'Rockwell';
}

.friends{
  text-align: left;

} */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height :auto;
  background: #C5DDEB;
  font: 14px/20px;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  height : auto;
  width: 1100px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
  overflow-y: scroll;

}
 .people-header{
  text-align: center;

}
.people-list .search {
  padding: 20px;
}
/*.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}*/
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height : auto;
  list-style-type: none;
  /* overflow-y: scroll; */
}
.people-list ul li {
  padding-bottom: 20px;
  list-style-type: none;
  /*overflow-y: scroll;*/
  
}
.people-list img {
  float: left;
}
.people-list .about {
  padding-left: 3px;
  color: #fff;
  float: left;
  margin-top: 8px;
}
.people-list .status {
  color: #92959E;
}

.logOut{
  text-align: center;
  text-transform: uppercase;
}
.group{
  text-align: center;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color :#fff;
}

.chat {
  width: 805px;
  height  :auto;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-with span{
  font-family: 'Rockwell';
  font-size: 14px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history ul{
 list-style-type: none;
}


.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 12px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


#online
{
  height: 11px;
  width: 11px;
  background-color: #7CEB1F;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1px;
}


#offline
{
  height: 11px;
  width: 11px;
  background-color: #EC4910;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1px;

}
#user{

text-align: center;
font-family: 'Lucida Sans Unicode';
font-size : 16px;
color : white;
font-weight: 700;
}

#usernames{
  color : #fff;
}


#logout_btn{
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size : 16px;
}
#group_btn{
  border: none;
  cursor: pointer;
  font-family: 'Rockwell';
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  font-size : 14px;
}
#send_btn{
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size : 16px;
}


#send{
  text-align: center;
  text-transform: uppercase;
}


#friends{
  text-align: center;
}