
<body>
  <div *ngIf="userService.isLoggedIn()" id= "user">
    <h4 class="self">Welcome, {{ currentUserName}}</h4>
  </div>
  <div class="container clearfix">
    <div class="col-md-3">
      <div class = "people-header"> <h4> Friends </h4>
            </div>
      <div class="people-list" id="people-list">
            
            <ul class="list">
              <li class="clearfix" *ngFor="let user of Users">
                <img src="../../assets/images/chat_avatar.jpg" alt="avatar" />
                <div class="about">
                  <div class="name">
                    <a id = "usernames" (click) = "singlechatHistory(user)"> {{ user.username }} </a>
                  </div>
                  <div class="status" *ngIf = "user.isOnline" id="online">   
                  </div>
                  <div class="status"  *ngIf = "!user.isOnline" id="offline"> 
                  </div>
                </div>
              </li>            
            </ul>
         
      </div>

      <div *ngIf = "userService.isLoggedIn()" class="group">
        <button id = "group_btn" class="btn btn-success" data-toggle="modal" data-target="#groupModal" >Create a Group
        </button> 
        <br/>
      </div> 
        <div class = "people-header"> <h4> Groups </h4>
            </div>
      <div class="people-list" id="people-list">
       
              <ul class="list">
                <li class="clearfix" *ngFor="let item of Groups">
                  <img src="../../assets/images/chat_avatar.jpg" alt="avatar" />
                  <div class="about">
                    <div class="name">
                      <a id = "usernames" (click) = "groupChatHistory(item)"> {{ item.groupName }} </a>
                    </div>
                  </div>
                </li>            
              </ul>      
      </div>
          <div *ngIf = "userService.isLoggedIn()" class="logOut">
            <button id = "logout_btn" class="btn btn-success" (click) = "logOut()" >LogOut
            </button> 
          </div>  
    </div>
    
    <div class="col-md-9">
      
      <div class="chat">
        
        <div class="chat-header clearfix"> 
          <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" /> -->
          
          <div class="chat-about" *ngIf = "single_chat">
            <div class="chat-with">{{ username }} <span><i *ngIf="isTyping" class="isTyping"> is typing...</i></span></div>
            
          </div>

          <div class="chat-about" *ngIf = "group_chat">
            <div class="chat-with">{{ groupName }}<span> ({{groupMembers}} are other members) </span>
              <span><i *ngIf = "isGroupTyping">
                <div *ngFor="let item of user">{{item}}</div>
                is typing </i></span>
            </div>
            
          </div>
        </div> 
        
        <div class="chat-history">
          <ul>
            <div *ngFor="let item of messageData">
              <li class="clearfix">
                <div *ngIf = "item.user == userService.getLoggedInUser().username">
                  <div class="message-data align-right">
                    
                    <span class="message-data-name" >{{item.user}} </span>
                    
                  </div>
                  <div class="message other-message float-right">
                    {{item.message}}
                  </div>
                </div>
              </li>
              
              <li>
                <div *ngIf = "item.user != userService.getLoggedInUser().username">
                  <div class="message-data align-left">
                    
                    <span class="message-data-name" >{{item.user}}  </span> 
                    
                  </div>
                  
                  <div class="message my-message">
                    {{item.message}}
                  </div>
                </div>
              </li>
              
              
              
              
              
              
            </div>
          </ul>
          
        </div> 
        
        <div class="chat-message clearfix" *ngIf = "single_chat">
          <textarea (keypress)="typing()" [(ngModel)]="message" name="message" placeholder ="Type your message" rows="3"></textarea>
        </div>
        <div class="chat-message clearfix" *ngIf = "group_chat">
          <textarea (keypress)="groupTyping()" [(ngModel)]="message" name="message" placeholder ="Type your message" rows="3"></textarea>
        </div> 
         <div class= "clearfix" id = "send" *ngIf = "single_chat || group_chat">
          <button (click)="sendMessage()" class="btn btn-primary btn-md" id = "send_btn">Send</button>
          </div>
        <br/>
        
        
      </div> 
    </div>
  </div>
</body>




  <div class="modal fade" id="groupModal" role="dialog" style="text-align:center;">
    <div class="modal-dialog">
    
      <!--  Modal content -->
      <div class="modal-content">
        <div class="modal-header"  style="background-color:#5bc0de;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a Group
          </h4>
        </div>
        <div class="modal-body">
            <form name="form2" (ngSubmit) = "createGroup(group)">
              <input type="text" style="height:35px; width:100%;" [(ngModel)] = "group.groupName" placeholder="Enter Group name" [ngModelOptions]="{standalone: true}"/>
              <select style="width:100%;" multiple="multiple" [(ngModel)]="group.groupMembers" [ngModelOptions]="{standalone: true}"> 
                <option *ngFor="let user of Users">
                  {{user.username}}
                </option>
              </select>

              <button type="submit" class="btn btn-md btn-success" style="margin-left: 10px;">Save </button>
              <button type="button" class="btn btn-md btn-danger" data-dismiss="modal" style="margin-right: -10px;">Cancel</button>
            </form>
        </div>
      </div>
      
    </div>
  </div>